body{
    background-color: wheat;
    text-align: center;
}
h1{
    font-family: sans-serif;
}
.husky{
    height: 300px;
    width: 450px;
}
aside{
    display: flex;
    justify-content: flex-start;
}